-# new.html.haml using partial
%div.row
  %div.col-xs-8.col-xs-offset-2
    %div.row
      %div.col-xs-12
        %fieldset
          %legend Create New Movie
          = form_tag '/movies', :method => :post do
            = render :partial => 'movie_form'
            %br
            %div.row
              %div.col-xs-3.col-xs-offset-3
                = label :movie, :description, 'Description'
              %div.col-xs-6
                = text_field :movie, 'description'
            %br
            %div.row
              %div.col-xs-2.col-xs-offset-8
                = submit_tag ' Save Changes', :class=>"btn btn-success glyphicon glyphicon-plus"
              %div.col-xs-2
                = link_to ' Cancel', movies_path, :class=>"btn btn-danger glyphicon glyphicon-chevron-left"   # cancel link
