!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %br
    %div.row
      %div.col-xs-4.col-xs-offset-8
        = render :partial => 'sessions/login_form'
    %br
    %div.row
      %div.col-xs-12
        = yield
        -# this goes just inside %body:
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
